@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --title-font: 'Playfair Display';
  --title-weight: 400;

  --content-font: 'Roboto';
  --content-font-color: #76777fff;
  --content-line-height: 1.5;

  --spacing-small: 1rem;
  --spacing-med: 2.5rem;
  --spacing-large: 4rem;
  --shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: none;
}

/* Utils */
.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Utils */

/* About me */
.diagonal-wrapper {
  background: #2980b9; /* fallback for old browsers */

  /* background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transform: translateY(-60%) skewY(-25deg);
}

.portrait-wrapper {
  padding: 0 1.5rem;
}

.portrait {
  min-height: 400px;
  background-image: url(assets/Surfer-Riding-Wave-800w.jpeg);
  background-size: cover;
  background-position: center;
  align-items: flex-end;
}

.portrait-title {
  color: #fff;
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: 4rem;
  line-height: 1.5;
  max-width: 100px; /* break first and last name into new line */
}

.about-me-wrapper {
  transform: translateY(60%) skewY(25deg);
  padding: var(--spacing-med) 1rem;
}

.about-me-wrapper .about-me-title {
  text-align: center;
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--spacing-med);
  margin-top: 2rem;
}

.about-me-content {
  color: var(--content-font-color);
  font-family: var(--content-font);
  line-height: var(--content-line-height);
  padding: var(--spacing-small) 0;
}

.about-me-socials,
.contact-me-socials {
  gap: var(--spacing-small);
  justify-content: center;

  /* icon sizes */
  & i {
    font-size: var(--spacing-med);
  }

  & .devicon-linkedin-plain.colored {
    color: #000;
  }
}

/* My work */
.my-work-wrapper {
  padding: 10rem var(--spacing-small);
}

.cards-wrapper {
  margin: 2rem 0;
}

.card {
  box-shadow: var(--shadow);
}

/* Sibling selector */
.card + .card {
  margin-top: var(--spacing-large);
}
 
/* alternative way

 .card:not(:last-of-type) {
  margin-bottom: var(--spacing-large);
  
} */

.card__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.sunset-surfer {
  object-position: bottom;
}

.my-work-title {
  font-size: var(--spacing-med);
  text-align: center;
}

.my-work-title,
.card__title {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
}

.card__details {
  padding: 1rem;
}

.card__title {
  font-size: 1.5rem;
  padding-left: 1rem;
  flex: 1;
}

.card__socials {
  gap: 1rem;

  & i {
    font-size: 24px;
  }
}

.card__socials-item {
  align-items: center;

  /* center icon */
  & a {
    display: inline-flex;
  }
}

.card__description {
  min-height: 150px;
  color: var(--content-font-color);
  font-size: var(--content-font);
  padding: 0 var(--spacing-small);
  line-height: var(--content-line-height);
}

.contact-me-wrapper {
  color: #fff;
  background-color: #2980b9;
  padding: 1rem var(--spacing-small) 3rem var(--spacing-small);
  font-family: var(--content-font);
  font-weight: 300;

  & .contact-me__title {
    text-align: center;
  }
}

.contact-me__title {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: var(--spacing-med);
}

.contact-me__description {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.contact-me__address,
.contact-me__details {
  margin-top: 2rem;
}

.contact-me__details > li + li {
  margin-top: 0.5rem;
}

.contact-me-socials {
  padding: 2rem;
  gap: 2rem;
}

.footer-portrait-wrapper img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Tablet layout */
@media (700px < width < 900px) {
  header {
    height: 60vh;
  }

  .diagonal-wrapper {
    height: 100%;
    transform: translateY(-45%) skewY(-15deg);
    padding: 4rem;
    box-shadow: var(--shadow);
  }

  .about-me-wrapper {
    transform: translateY(70%) skewY(15deg);
    background-color: #fff;
    padding: var(--spacing-med);
    box-shadow: var(--shadow);
  }

  .portrait-wrapper {
    padding: 0;
    float: left;
    width: 400px;
    transform: translate(-4.5rem, -8rem);
    margin-right: -3rem;
  }

  .portrait {
    margin-bottom: -8rem;
    box-shadow: var(--shadow);
  }

  .my-work-wrapper {
    padding: 13rem 4rem;

    & .my-work-title {
      text-align: left;
    }
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-med);
  }

  .card + .card {
    margin-top: 0;
  }
}
