@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Utils */
.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.portrait-wrapper {
  background: #2980b9; /* fallback for old browsers */

  /* background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  transform: translateY(-40%) skewY(-25deg);
}

.portrait {
  min-height: 300px;
  background-image: url(https://images.pexels.com/photos/4327837/pexels-photo-4327837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  transform: translateY(50%) skewY(25deg);
  align-items: flex-end;
}

.portrait-title {
  color: #fff;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  max-width: 100px; /* break first and last name into new line */
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}
